@charset "UTF-8" ;

.form-check {
	width:100%;
}

.button {
	width: 100px;
	margin: 0 auto;
}

h5 {
	padding-top:10px;
	padding-bottom: 5px;
}

label #dateStandard {
	padding-bottom:5px;
}
.registration-container {
  position: fixed;  
  top: 20px;        
  right: 20px;
    z-index: 1000;   
}